@import url('https://fonts.googleapis.com/css?family=Cabin|Playfair+Display');

.backdrop {
    background-color: #8b8b8b;
}

.standard-margin {
    margin: 0 120px;
}

.content {
    background-color: white;
    border-bottom: 45px solid #4CA799;
    padding: 0 120px;
}

.page-content {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

.content-title {
    margin-top: 65px;
}

a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
}

/* Fonts */
.main-font {
    font-family: 'Cabin', sans-serif;
    color: black;
}
.secondary-font {
    font-family: 'Playfair Display', serif;
}
.font-tiny {
    font-size: 14px;
}
.font-xs {
    font-size: 18px;
}
.font-sm {
    font-size: 20px;
}
.font-md {
    font-size: 24px;
}
.font-lg {
    font-size: 36px;
}
.font-xl {
    font-size: 48px;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.bold {
    font-weight: bold;
}
.spacing {
    letter-spacing: 9px;
}
.grey {
    color: #8b8b8b;
}
.white {
    color: white;
}
.italic {
    font-style: italic;
}
.teal {
    color: #4ca799;
}

/* Header */
.header {
    background-color: #8b8b8b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 30px 0;
}
.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li {
    margin-right: 120px;
}
.nav ul li:last-child {
    margin: 0;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 75px 0 110px 0;
}

.footer-left {
    display: flex;
}

.footer-left img {
    max-width: 38px;
    margin: 10px 0 0 115px;
}

.footer-left div:first-child {
    display: flex;
    flex-direction: column;
}

.footer-right {
    align-self: flex-end;
}

.copywrite {
    align-self: flex-end;
}