.work-content {
    display: flex;
    flex-direction: column;
}

.work-img {
    width: 66%;
}

.crop {
    padding: 150px;
}

.work-img > img {
    margin-top: 25px;
    width: 100%;
}

.recent-work {
    padding-left: 20px;
    width: 33%;
}

.recent-work-title {
    margin-bottom: 115px;
}

.work-item-title {
    margin-bottom: 42px;
}

.work-item-title.not-first {
    margin-top: 115px;
}

.work-description {
    width: 75%;
}

.read-study {
    margin-top: 35px;
}

.back-to-top {
    margin: 70px 0;
}